<main>

    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-lg-5">
                    <div
                        class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                        <div class="padding_eight_all bg-white">
                            <div class="heading_s1">
                                <h3 class="mb-30">Admin Login</h3>
                            </div>
                            <form method="post" action="/admin/admin-login">
                                <div class="form-group">
                                    <input type="email" required="" name="email" placeholder="Email" id="user-email"
                                        onkeyup="validateEmail()">
                                    <span id="email-error"></span>
                                </div>
                                <div>
                                    {{#if emailErr}}
                                    <p style="color: red;">{{emailErr}}</p><br>
                                    {{/if}}
                                </div>
                                <div class="form-group">
                                    <input required="" type="password" name="password" placeholder="Password"
                                        id="user-password" onkeyup="validatePassword()">
                                        <span id="password-error"></span>
                                </div>
                                <div>
                                    {{#if pswdErr}}
                                    <p style="color: red;">{{pswdErr}}</p><br>
                                    {{/if}}
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-fill-out btn-block hover-up"
                                        name="login" onclick="return validateLogin()">Login</button>
                                        <span id="submit-error"></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   