<div class="screen-overlay"></div>

<main class="main-wrap">

    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Coupons </h2>
                <p>Add and manage coupons</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <form id="create-coupon-form">

                            <label for="discount-percentage">Discount Percentage:</label>
                            <input class="form-control" type="number" id="discount-percentage" name="discountPercentage"
                                required min="0" max="100">

                            <label for="max-discount-amount">Max Discount Amount:</label>
                            <input class="form-control" type="number" id="max-discount-amount" name="maxDiscountAmount"
                                required min="0">

                            <label for="minimum-purchase-amount">Minimum Purchase Amount:</label>
                            <input class="form-control" type="number" id="minimum-purchase-amount" name="minAmount"
                                required min="0">

                            <label for="category">Category:</label>
                            <select class="form-select" name="category" id="main-category">
                                <option></option>
                                <option>Men's Clothing</option>
                                <option>Women's Clothing</option>
                                <option>Kid's Clothing</option>
                            </select>

                            <label for="minimum-purchase-amount">Coupon Description:</label>
                            <input class="form-control" type="text" id="coupon-description" name="description" required
                                min="0">
                            <hr>



                            <div>
                                <button class="btn btn-primary">Create Coupon</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-9">
                        {{!-- <label for="minimum-purchase-amount">Coupon Description:</label> --}}
                        <div class="table-responsive">
                            <table class="table table-hover" style="overflow: hidden;">
                                <thead>
                                    <tr style="background-color: rgb(199, 210, 206);">
                                        <th class="text-center">Sl No.</th>
                                        <th class="text-center">Id</th>
                                        <th class="text-center">Offer Percentage</th>
                                        <th class="text-center">Description</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="ordersContainer">
                                    {{#each coupons}}
                                    <tr>
                                        <td class="text-center">
                                            {{index @index}}
                                        </td>
                                        <td class="text-center">
                                            {{_id}}
                                        </td>
                                        <td class="text-center">
                                            {{discountPercentage}}
                                        </td>
                                        <td class="text-center">
                                            {{description}}
                                        </td>
                                        <td class="text-center">
                                            <a href="#" class="btn btn-sm btn-light font-sm rounded">Delete</a>
                                        </td>

                                    </tr>
                                    {{/each}}

                                </tbody>
                            </table>
                            <div class="pagination-area mt-15 mb-50">
                                <nav aria-label="Page navigation example">
                                    <ul id="paginationContainer" class="pagination justify-content-start">
                                    </ul>
                                </nav>
                                        
                            </div>
                        </div>
                    </div> <!-- .col// -->
                </div> <!-- .row // -->
            </div> <!-- card body .// -->
        </div> <!-- card .// -->
    </section> <!-- content-main end// -->
    <script>
        $(document).ready(function () {
            $('#create-coupon-form').submit(function (event) {
                // Prevent the default form submission behavior
                event.preventDefault();

                // Send an Ajax POST request to create a new coupon
                $.ajax({
                    url: '/admin/coupons',
                    type: 'POST',
                    data: $('#create-coupon-form').serialize(),
                    dataType: 'json',
                    success: function (response) {
                        if (response.status) {
                            // Display a success notification if the coupon was created successfully
                            swal({
                                title: "Coupon created!",
                                text: "Your new coupon has been created.",
                                icon: "success",
                                button: "OK",
                            });
                            location.reload();
                            // $('#create-coupon-form')[0].reset();
                        } else {
                            // Display an error message if the server-side validation failed
                            alert(response.message);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        // Display an error message if the server encountered an error
                        alert('Error creating coupon: ' + textStatus);
                    }
                });
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            const itemsPerPage = 5;
            const numItems = $('#ordersContainer').children().length;
            const numPages = Math.ceil(numItems / itemsPerPage);

            // Create pagination links
            for (let i = 1; i <= numPages; i++) {
                $('<li class="page-item active"><a class="page-link" data-page="' + i + '" href="#">' + i + '</a></li>').appendTo('#paginationContainer');
            }

            // Bind click event to pagination links
            $('.page-link').click(function (e) {
                const currentPage = $(this).data('page');
                const startIndex = (currentPage - 1) * itemsPerPage;
                const endIndex = startIndex + itemsPerPage;

                $('#ordersContainer').children().hide().slice(startIndex, endIndex).show();
                return false;
            })
            // Show first page by default
            $('.page-link:first').addClass('active');
            $('#ordersContainer').children().hide().slice(0, itemsPerPage).show();
        })
    </script>