<script src="https://kit.fontawesome.com/1236d29865.js" crossorigin="anonymous"></script>
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-lg-5">
                <div>
                    <a href="/profile/{{user.response._id}}"><i class="fa-solid fa-arrow-left-long"></i> Go back</a>
                </div>
                <br>
                <div
                    class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                    <div class="padding_eight_all bg-white">
                        <div class="heading_s1">
                            <h3 class="mb-30">Change password</h3>
                        </div>
                        {{#if updated}}
                        <p style="color: green;">{{updated}}</p>
                        {{/if}}
                        <form action="/change-password" method="post">
                            <!-- password input -->
                            <div>
                                {{#if invalid}}
                                <p style="color: red;">{{invalid}}</p>
                                {{/if}}
                            </div>
                            <div class="form-outline mb-4">
                                <input type="password" id="form1Example1" class="form-control" name="password"
                                    required="">
                                <label class="form-label" for="form1Example1">Password</label>
                            </div>
                            <!-- new password input -->
                            <div class="form-outline mb-4">
                                <input type="password" id="form1Example2" class="form-control" name="newPassword"
                                    required="">
                                <label class="form-label" for="form1Example2">New password</label>
                            </div>

                            <div>
                                {{#if notMatch}}
                                <p style="color: red;">{{notMatch}}</p>
                                {{/if}}
                            </div>
                            <div class="form-outline mb-4">
                                <input type="password" id="form1Example2" class="form-control" name="confirmPassword"
                                    required="">
                                <label class="form-label" for="form1Example2">Confirm password</label>
                            </div>

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>