<script src="https://kit.fontawesome.com/1236d29865.js" crossorigin="anonymous"></script>
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-lg-5">
                <div>
                    <a href="/profile?id={{user.response._id}}"><i class="fa-solid fa-arrow-left-long"></i> Go back</a>
                </div>
                <br>
                <div
                    class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                    <div class="padding_eight_all bg-white">
                        <div class="heading_s1">
                            <h3 class="mb-30">Change password</h3>
                        </div>
                        {{!-- {{#if updated}}
                        <p style="color: green;">{{updated}}</p>
                        {{/if}} --}}
                        <form action="/change-password" method="post">
                            <!-- password input -->
                            <div>
                                {{#if invalid}}
                                <p style="color: red;">{{invalid}}</p>
                                {{/if}}
                            </div>
                            <div class="form-outline mb-4">
                                <input type="password" placeholder="Password" class="form-control" name="password"
                                    required="" id="user-password" onkeyup="validatePassword()">
                                <span id="password-error"></span>
                            </div>
                            <!-- new password input -->
                            <div class="form-outline mb-4">
                                <input type="password" placeholder="New password" class="form-control"
                                    name="newPassword" required="" id="user-new-password"
                                    onkeyup="validateNewPassword()">
                                <span id="new-password-error"></span>
                            </div>

                            <div>
                                {{#if notMatch}}
                                <p style="color: red;">{{notMatch}}</p>
                                {{/if}}
                            </div>
                            <div class="form-outline mb-4">
                                <input type="password" placeholder="Confirm password" class="form-control"
                                    name="confirmPassword" required="" id="user-confirm-password"
                                    onkeyup="validateConfirmPassword()">
                                <span id="confirm-password-error"></span>
                            </div>

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>